.InfoBox {
  background-color: white;
  border: 5px solid black;
  height: 60vh;
  margin: 0px 0px 50px 0px;
  text-align: -webkit-center;
  width: 80%;
}

.InfoBox img {
  float: left;
  background-color: black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.InfoBox .PokemonName {
  font-size: 20px;
  width: initial;
}

.InfoBox .PokemonNumberAndType {
  font-size: 20px;
  text-align: left;
}

.Evolution {
  height: 15%;
  border-top: 5px solid black;
}

.Moveset {
  border-top: 5px solid black;
  height: calc(85% - 120px);
  overflow: scroll;
  overflow-y: auto;
  padding: 5px 5px 10px 5px;
}

.Move {
  padding-top: 5px;
  padding-bottom: 5px;
}

.MoveName {
  background-color: red;
  color: white;
  font-family: 'PokeFont';
  font-size: 25px;
}

.MoveTypes {
  font-family: 'PokeFont';
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.MoveDescription {

}
