.InfoBox {
  background-color: white;
  border: 5px solid black;
  height: 60vh;
  margin: 0px 0px 50px 0px;
  text-align: -webkit-center;
  width: 80%;
}

.InfoBox img {
  float: left;
  background-color: black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.InfoBox .PokemonName {
  font-size: 20px;
  width: initial;
}

.InfoBox .PokemonNumberAndType {
  font-size: 20px;
  text-align: left;
}

.InfoBox .PokemonDescription {
  font-size: 15px;
  text-align: left;
}

.Evolution {
  height: 10%;
  border-top: 5px solid black;
}

.Moveset {
  border-top: 5px solid black;
  overflow: scroll;
}
