.Carousel {
  width: 100%;
}

.Carousel img {
  background-color: black;
  float: left;
  width: 100px;
  height: 100px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.Carousel button {
  visibility: hidden;
}

.Carousel li {
    list-style-type: none;
}

.Carousel ul {
  padding: 0px;
}
